.h1{
    text-align: center;
    color: beige;
    background-color: blue;
}
.welcome{
    font-size: x-large;
    text-align: center;
    border: 100px;
    color: aqua;
    background-color: rgb(142, 149, 155);
}
.btn{
    height: 10px;
    width: 20px;
}
